/* You can add global styles to this file, and also import other style files */
@import './styles/colors';
@import './styles/fonts';
@import './styles/mixins';

* {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background: $charcoal;
  font-family: $font-primary;
}

@include mq(mobile) {
  body {
    display: none;
  }
};
